.header {
  grid-column: 2 / -1;
  height: 5dvh;
  padding: 3rem 2rem;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerActions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.headerDisplayMsg {
  display: flex;
  flex-direction: column;
}

.headerDisplayMsg h4 {
  font-size: 2rem;
}

.headerDisplayMsg span {
  font-size: 1.4rem;
  color: var(--color-gray-400);
}