.mainContent {
  grid-column: 2 / -1;
  height: calc(100dvh - 5dvh);
  padding: 2rem;
  position: relative;
}

.noNotes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  opacity: .3;
}

.noNotes svg {
  width: 4rem;
  height: 4rem;
}

.noNotes p {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}