.mainContent {
	grid-column: 2 / -1;
	height: calc(100dvh - 5dvh - 4rem);
	padding: 2rem;
	position: relative;

	display: flex;
	flex-direction: column;
	gap: 3rem;
	overflow-y: auto;
	scrollbar-width: none;
}

h2 {
	font-size: 2.4rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.noteCards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.noNotes {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	opacity: 0.3;
}

.noNotes svg {
	width: 4rem;
	height: 4rem;
}

.noNotes p {
	font-weight: 700;
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
}

@media (max-width: 62.5em) {
	.noteCards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 43.75em) {
	.noteCards {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 34.37em) {
	.mainContent {
		grid-column: 1 / 3;
	}
}
