.mainContent {
  grid-column: 2 / -1;
  height: calc(100dvh - 5dvh - 4rem);
  padding: 2rem;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow-y: auto;
  scrollbar-width: none;
}

h2 {
  font-size: 2.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.noteCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.noNotes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  opacity: .3;
}

.noNotes svg {
  width: 4rem;
  height: 4rem;
}

.noNotes p {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}