.sidebar {
	grid-row: 1 / 3;
	background-color: var(--color-primary-light);
	height: 100%;
	padding: 2rem;

	display: flex;
	flex-direction: column;
	gap: 4rem;
	position: relative;
}

@media (max-width: 34.37em) {
	.sidebar {
		grid-column: 1 / 3;
	}
}
