.list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.list li {
	padding: 1rem;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.list li:hover {
	background-color: var(--color-primary-light-1);
}

.active {
	background-color: var(--color-primary-light-1);
}

.actions {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	z-index: 1;
}

.actions button {
	background: none;
	border: none;
	opacity: 0.5;
	cursor: pointer;
	font-size: 1.8rem;
	margin-top: 0.3rem;
}

.actions button:hover {
	opacity: 1;
}

.noList {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.6;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

@media (max-width: 52.5em) {
	.list li {
		width: max-content;
		font-size: 1.4rem;
		padding: 0.5rem 1rem;
	}
}

@media (max-width: 34.37em) {
	.list {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.actions button {
		font-size: 1.4rem;
	}
}
