.notecard {
  background-color: var(--color-primary-light-1);
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.notecard header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid var(--color-primary-light-border);
  padding: 1rem;
}

.notecard main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 2rem;
}

.note {}

.date,
.time {
  font-size: 1.2rem;
  font-weight: 600;
  opacity: .8;
  letter-spacing: 1px;
}

.time {
  font-size: 1rem;
}