.notecard {
	background-color: var(--color-primary-light-1);
	padding: 1rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: relative;
}

.notecard header {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border-bottom: 1px solid var(--color-primary-light-border);
	padding: 1rem;
}

.notecard main {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.title {
	font-size: 2rem;
}

.date,
.time {
	font-size: 1.2rem;
	font-weight: 600;
	opacity: 0.8;
	letter-spacing: 1px;
}

.time {
	font-size: 1rem;
}

.actions {
	position: absolute;
	top: 2rem;
	right: 2rem;

	display: flex;
	align-items: center;
	gap: 0.5rem;
	z-index: 1;
}

.actions button {
	background: none;
	border: none;
	opacity: 0.5;
	cursor: pointer;
	font-size: 1.8rem;
}

.actions button:hover {
	opacity: 1;
}

@media (max-width: 52.5em) {
	.title {
		font-size: 1.8rem;
	}

	.date,
	.time {
		font-size: 1.2rem;
		font-weight: 600;
		opacity: 0.8;
		letter-spacing: 1px;
	}

	.time {
		font-size: 1rem;
	}

	.actions {
		top: 2rem;
		right: 2rem;
	}

	.actions button {
		font-size: 1.6rem;
	}
}
