:root[data-theme="light"] {
	--color-primary-light: #ffedd5;
	--color-primary-light-1: #fedaaa;
	--color-primary-light-2: #fdc274;
	--color-primary-light-border: #e5c499;
	--color-gray-400: #9ca3af;
	--color-text: #0f172a;
	--color-border: #eee;
	--color-text-muted: #475569;
	--color-bg: #ffffff;

	--font-body: "Inter", sans-serif;
	--font-heading: "Manrope", sans-serif;
}

:root[data-theme="dark"] {
	--color-primary-light: #1e293b;
	--color-primary-light-1: #273449;
	--color-primary-light-2: #334155;
	--color-primary-light-border: #3f4d63;
	--color-gray-400: #64748b;
	--color-text: #f8fafc;
	--color-border: #1e293b;
	--color-text-muted: #94a3b8;
	--color-bg: #0f172a;

	--font-body: "Inter", sans-serif;
	--font-heading: "Manrope", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: var(--font-body);
	color: var(--color-text);
	line-height: 1.6;
}

input,
button,
textarea {
	font: inherit;
	color: var(--color-text);
}

ul {
	list-style: none;
}

.app {
	max-width: 140rem;
	height: 100dvh;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 0.25fr 0.75fr;
}

@media (max-width: 62.5em) {
	.app {
		grid-template-columns: 0.3fr 0.7fr;
	}
}

@media (max-width: 52.5em) {
	body {
		font-size: 1.4rem;
	}
}

@media (max-width: 43.75em) {
	.app {
		grid-template-columns: 0.4fr 0.6fr;
	}
}

@media (max-width: 34.37em) {
	.app {
		grid-template-columns: 1fr;
	}
}
