.btn {
	display: inline-block;
	border: none;
	background: none;
	letter-spacing: 1px;
	font-weight: 600;
	padding: 1rem 2rem;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.4rem;
	color: var(--color-text);
	transition: all 0.2s ease-in;
}

.btn--primary {
	background: var(--color-primary-light-2);
}

.btn--secondary {
	background-color: var(--color-surface);
}

.btn:hover {
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	transform: translateY(-1px);
}

.btn:active {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
	transform: translateY(0);
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

@media (max-width: 52.5em) {
	.btn {
		font-size: 1.2rem;
	}
}
