.theme button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	background-color: var(--color-primary-light-2);
	color: var(--color-text);
	display: grid;
	place-content: center;
}
